*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*para suavizar a rolagem so site*/
html{
    scroll-behavior: smooth;
}

/*Corpo do site*/
body{
    background-color: rgb(26, 25, 25);
    color: rgb(216, 216, 216);
    font-family: "Montserrat",sans-serif;
}

/*organizando o cabeçalho(header)*/

header{
    background-color: rgba(8, 8, 8, 0.788);
    line-height: 35px;

    position: fixed;
    top: 10px;
    
    left: 50%;
    width: 80%;
    transform: translateX(-50%);
    border-radius: 45px;

    z-index: 1000;
    height: 50px;

    display: flex;
    align-items: center;
    
}
.logo{
    color: rgb(255, 255, 255);
    font-family: fantasy;
    margin-left: 10px;
    
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    width: 100%;
    align-items:end;
}

.logo:hover{
    color: rgb(92, 108, 255);
    text-shadow: 0px 0px 7px rgb(110, 108, 255);
}


.menu a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: end;
    padding: 5px;
    border-radius: 25px;
}

.menu a:hover{
    color: rgb(96, 112, 255);
   
    text-shadow: 0px 0px 7px rgb(159, 193, 255);
}

/*Organizando a introdução*/
.introducao{
    height: 500px;
    background-color: rgb(54, 43, 209);
    border-bottom: 2.5px solid rgb(39, 36, 48);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px 100px;
    min-height:105vh;
}


.textos{
    line-height: 25px;
    display: flex;
    flex-direction: column;
    max-width: 700px;
    background-color: rgb(245, 245, 245);
    padding: 50px;
    border-radius: 30px;
    color: rgb(14, 14, 14);
    margin-right: 300px;

    h1{
        font-size: 60px;
        margin-bottom: 35px;
        line-height: 60px;

    }
    
    p{
        max-width: 400px;
        font-size: 25px;
        margin-top: 10px;
        margin-bottom: 20px;
        line-height: 30px;
    }
    
}

.logoazul{
    width: 400px;
    img{
        margin-left: -80px;
    }
}

.acessos{
    display: flex;
    gap: 20px;
    margin-top: 50px;

 img{
        background-color: rgba(119, 118, 118, 0.062);
        border-radius: 15px;
        border: 2px solid rgba(119, 118, 118, 0.164);
        width: 100px;
        padding: 8px;
        transition: 0.5s;
        height: 100px;
        
       
    }
}


.acessos img:hover{

    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 15px rgb(241, 241, 243);
}


.sobre{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;

    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding:100px;
   
}

.quemsoueu{
    flex:1;
    max-width: 800px;
    margin: 3px;
    font-size:  20px;
    

    padding: 0px;
    margin-top: 20px;
    min-height: 105vh;
    
    font-size: 20px;

    h3{
        font-size:50px;
        color: rgb(45, 42, 209);
        margin-top: 10px;
        margin-bottom: 40px;
 }

 p{
    margin-top:20px;
    color: rgb(124, 124, 124);
    
 }
}
.informacoes{
    display: flex;
    gap: 30px;
    padding: 10px;
    margin-top: 40px;
    
    p{
        font-size: 15px;
        color: rgb(87, 87, 87);
        margin-top: 0;
    }


    .estudos{
        background-color: rgba(46, 44, 44, 0.87);
        border-radius: 15px;
        border: 2px solid rgb(73, 73, 73); 

        width: 150px;
        height: 100px;
        padding:5px;
        
        
        display: flex;
        flex-direction: column;
        align-items: center;
        
        h2{
            color: rgb(38, 38, 255);
            font-size: 35px;
            margin-top: 5px;
        }
    }

    .projetos{
        background-color: rgba(46, 44, 44, 0.87);
        border-radius: 15px;
        border: 2px solid rgb(73, 73, 73); 

        width: 150px;
        height: 100px;
        padding: 15px;
        
        
        display: flex;
        flex-direction: column;
        align-items: center;

        h2{
            font-size: 25px;
            color: rgb(38, 38, 255);
        }
        
        p{
            margin-top: 17px;
        }
 
    }


    .cafe{
        background-color: rgba(46, 44, 44, 0.87);
        border-radius: 15px;
        border: 2px solid rgb(73, 73, 73); 

        width: 150px;
        height: 100px;
        padding: 15px;
        
        
        display: flex;
        flex-direction: column;
        align-items: center;

        h2{
            color: rgb(38, 38, 255);
            font-size: 50px;
            margin-top: -15px;
        }

        p{
            margin-top: 0px;
        }
    }

}


.skill{
    display: flex;
    flex-direction: column;
    justify-content: center;
        max-width: 900px;
        margin-top: -180px;
        margin-left: 100px;
        flex-shrink: 0;
        border: 2px solid #3f3f3f;
        border-radius: 8px;
        padding: 25px;
        align-self: center;

        width: 500px;

        background-color: rgba(46, 46, 46, 0.295);

        h1{
            font-size: 45px;
            margin-bottom: 40px;
            color: #008cff;
        }
    }

    .habilidades{
        margin-bottom: 30px;
        justify-content:right;

    
    }

    .info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 500;
}

.barra{
    width: 100%;
    height: 10px;
    background: #242424;
    border-radius: 20px;
    overflow: hidden;
    
}

.progresso{
    height: 100%;
    border-radius: 20px;
  

    animation:  carregar 2s ease;
}

@keyframes carregar{
    from{
        width: 0;
    }
}

/* Largura e cor de cada habilidade */

.html{
    width: 50%;
    background: #ff6b35;
}

.js{
    width: 35%;
    background: #f7df1e;
}

.typescript{
    width: 20%;
    background: #008cff;
}




